<section class="section business-cases" id="business-cases">
  <div class="container business-cases__container">
    <div class="business-cases__thumb--sec">
      <h2 class="business-cases__subtitle">This is what we do</h2>
      <h3 class="business-cases__title section__title">
        <span class="title__item">Business</span
        ><span class="title__item">Cases</span>
      </h3>
      <p class="business-cases__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
    </div>
    <ul class="business-cases__list card-set gallery">
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases1.jpg"
          alt="dfhsdsfhdsfh"
          class="business-cases__img gallary__image"
        />
      </li>
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases2.jpg"
          alt="hdfshh"
          class="business-cases__img gallary__image"
        />
      </li>
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases3.jpg"
          alt="dfhshh"
          class="business-cases__img card-item"
        />
      </li>
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases4.jpg"
          alt="hfdshds"
          class="business-cases__img gallary__image"
        />
      </li>
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases5.jpg"
          alt="hdsfhdfsh"
          class="business-cases__img gallary__image"
        />
      </li>
      <li class="business-cases__item card-item gallery__item">
        <img
          src="./images/cases/cases6.jpg"
          alt="dfhdsfh"
          class="business-cases__img gallary__image"
        />
      </li>
    </ul>
  </div>
</section>
