<section class="section callback" id="callback">
  <div class="container callback__container">
    <div class="callback__thumb--img">
      <img
        class="callback__img"
        src="./images/home/contact.jpg"
        alt="Our team"
      />
    </div>
    <div class="callback__thumb--sec">
      <h2 class="callback__title section__title">
        <span>Request</span><span>Callback</span>
      </h2>
      <form
        class="callback__form form js-form"
        name="contact"
        method="POST"
        data-netlify="true"
      >
        <div class="form__thumb form__name">
          <label class="form__lable" for="user_name">Enter your name</label
          ><input
            class="form__input"
            type="text"
            name="name"
            id="user_name"
            required
          />
        </div>

        <div class="form__thumb">
          <label class="form__lable" for="user_email">Enter email&#42;</label>
          <input
            class="form__input"
            type="email"
            name="email"
            id="user_email"
            required
          />
        </div>

        <button class="form__button" type="submit">Send</button>
      </form>
      <span class="form__warning warning js-warning" active>
        <svg class="warning__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-warning"></use>
        </svg>
        <strong class="warning__text">This is a required field</strong>
      </span>
    </div>
  </div>
</section>
