<footer class="footer">
  <div class="container footer__container">
    <ul class="social__list footer__social">
      <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="noopener">
          <svg class="social__icon" style="width: 35px; height: 35px">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="noopener">
          <svg class="social__icon" style="width: 35px; height: 35px">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="noopener">
          <svg class="social__icon" style="width: 40px; height: 35px">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="noopener">
          <svg class="social__icon" style="width: 31px; height: 35px">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__cop">Copyright &#169; 2021 - FinanceLedger</p>
  </div>
</footer>
