<header class="header">
  <div class="container header__container">
    <a href="index.html" class="logo header__logo">
      <svg class="logo__icon" width="40" height="30">
        <use class="logo__icon--book" href="./images/icons.svg#icon-logo"></use>
        <!-- <use class="logo__icon--page" href=""></use> -->
      </svg>
      <span class="logo__text--accent">Finance</span
      ><span class="logo__text">Ledger</span>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link js-scroll">Home</a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link js-scroll">About</a>
        </li>
        <li class="nav__item">
          <a href="#business-cases" class="nav__link js-scroll">Cases</a>
        </li>
        <li class="nav__item">
          <a href="#post" class="nav__link js-scroll">Blog</a>
        </li>
        <li class="nav__item">
          <a href="#callback" class="nav__link js-scroll">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
