<section class="section hero" id="hero">
  <div class="container hero__container">
    <div class="hero__inner">
      <h1 class="section__title hero__title">
        <span class="hero__title--first">The Sky Is</span><span>The Limit</span>
      </h1>
      <p class="hero__text">
        <span class="hero__text--first">We provide world class</span>
        <span class="hero__text--second">financial assistance</span>
      </p>
    </div>
    <button
      class="hero__button button"
      type="button"
      aria-label="Button read more"
    >
      <svg class="button__icon" width="9" height="18">
        <use
          class="button__icon__item"
          href="./images/icons.svg#icon-for-read-more"
        ></use></svg
      ><span>Read More</span>
    </button>
  </div>
</section>
