<section class="section post" id="post">
  <article class="container post__container">
    <div class="post__thumb--img">
      <img class="post__img" src="./images/home/blog.jpg" alt="Our team" />
    </div>
    <div class="post__thumb--sec">
      <time class="post__date" datetime="2020-04-16">April 16 2020</time>
      <h2 class="post__title section__title">Blog Post One</h2>
      <p class="post__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="post__button button">
        <span class="button__text">Read More</span>
      </button>
    </div>
  </article>
</section>
