<section class="section team" id="team">
  <div class="container team__container">
    <div class="team__thumb--sec">
      <p class="team__subtitle">This is what we do</p>
      <h2 class="team__title section__title">
        <span class="team__title__item title__item">Our</span
        ><span class="team__title__item title__item">Professional</span
        ><span class="team__title__item title__item">Team</span>
      </h2>
      <p class="team__text section__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
    </div>
    <ul class="team__list card-set">
      <li class="team__item card-item">
        <div class="team__thumb">
          <img
            src="./images/team/person1.jpg"
            alt="John Doe President"
            class="team__img"
          />
          <ul class="social__list team__social">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 40px; height: 35px">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 31px; height: 35px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team__label">
          <h3 class="team__name">John Doe</h3>
          <p class="team__job">President</p>
        </div>
      </li>
      <li class="team__item card-item">
        <div class="team__thumb">
          <img
            src="./images/team/person2.jpg"
            alt="Jane Doe Vice President"
            class="team__img"
          />
          <ul class="social__list team__social">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 40px; height: 35px">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 31px; height: 35px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team__label">
          <h3 class="team__name">Jane Doe</h3>
          <p class="team__job">Vice President</p>
        </div>
      </li>
      <li class="team__item card-item">
        <div class="team__thumb">
          <img
            src="./images/team/person3.jpg"
            alt="Steve Smith Marketing Head"
            class="team__img"
          />
          <ul class="social__list team__social">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 35px; height: 35px">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 40px; height: 35px">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="#" class="social__link">
                <svg class="social__icon" style="width: 31px; height: 35px">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="team__label">
          <h3 class="team__name">Steve Smith</h3>
          <p class="team__job">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
