<section class="section we-provide" id="we-provide">
  <div class="container we-provide__container">
    <div class="we-provide__thumb--img">
      <picture>
        <source
          srcset="
            ./images/provide/provide-desk.jpg    1x,
            ./images/provide/provide-desk@2x.jpg 2x
          "
          media="(min-width:1360px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/provide/provide-tab.jpg    1x,
            ./images/provide/provide-tab@2x.jpg 2x
          "
          media="(min-width:768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/provide/provide-mob.jpg    1x,
            ./images/provide/provide-mob@2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpeg"
        />
        <img
          class="we-provide__img"
          src="./images/provide/provide-mob.jpg"
          width="320"
          height="220"
          alt="Our team"
        />
      </picture>
    </div>
    <div class="we-provide__thumb--sec">
      <h3 class="we-provide__subtitle">What you are looking for</h3>
      <h2 class="we-provide__title section__title">
        <span>We provide</span><span>bespoke</span><span>solutions</span>
      </h2>
      <p class="we-provide__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="we-provide__button button">
        <span class="button__text">Read More</span>
      </button>
    </div>
  </div>
</section>
