<section class="section we-provide" id="we-provide">
  <div class="container we-provide__container">
    <div class="we-provide__thumb--img">
      <img
        class="we-provide__img"
        src="./images/home/people.jpg"
        alt="Our team"
      />
    </div>
    <div class="we-provide__thumb--sec">
      <h3 class="we-provide__subtitle">What you are looking for</h3>
      <h2 class="we-provide__title section__title">
        <span>We provide</span><span>bespoke</span><span>solutions</span>
      </h2>
      <p class="we-provide__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="we-provide__button button">
        <span class="button__text">Read More</span>
      </button>
    </div>
  </div>
</section>
