<section class="we-provide" id="we-provide">
  <div class="container">
    <!-- <img src="" alt=""> -->
    <div class="thumb">
        <h3 class="we-provide__subtitle">What you are looking for</h3>
        <h2 class="we-provide__title section__title"><span>We provide</span><span>bespoke</span><span>solutions</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
        <button class="hero__button button">
            <span>Read More</span>
        </button>
    </div>
</section>
