@font-face {
  font-family: 'Open Sans Light';
  src: url('./fonts/OpenSans-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('./fonts/OpenSans-Regular.ttf');
  font-style: normal;
}
