.header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 20px 0;

  left: 50%;
  translate: -50%;

  background-color: rgba(0, 0, 0, 0.5);

  @include mq(desk) {
    padding: 12px 0;
  }
  &__container {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include mq(tab) {
      flex-direction: row;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    @include mq(mob-only) {
      margin-bottom: 12px;
    }
  }
}
.container {
}
.logo {
  &__icon {
    &--book {
      fill: var(--main-grean-color);
    }
  }

  &__text {
    color: var(--text-color-white);
    font-size: 32px;
    line-height: 1.31;
    @include mq(tab) {
      margin-right: 9px;
      font-size: 35px;
      line-height: 1.2;
    }
    &--accent {
      color: var(--main-grean-color);
      margin-left: 5px;
      font-size: 32px;
      line-height: 1.31;
      @include mq(tab) {
        margin-left: 10px;
        font-size: 35px;
        line-height: 1.2;
      }
    }
  }
}

.nav {
  display: flex;
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;

      @include mq(tab) {
        margin-right: 20px;
      }

      @include mq(desk) {
        margin-right: 40px;
      }
    }
  }

  &__link {
    color: var(--text-color-white);
  }
}

.js-scroll {
}
